{% extends 'blog/base.html' %}

{% block content %}

{% for post in img_posts reversed %}
<article class="media content-section">
    <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="">{{ post.author }}</a>
            <small class="text-muted">{{ post.date_posted|date:'F d, Y' }}</small>
        </div>
        <h5><p class="article-content">{{ post.caption}}</p></h5>
        <img src="{{post.image.url}}" alt="connect" class="img-responsive" style="max-height:500px">
        <hr>
        <a class="btn btn-outline-info" href="#" ><i class="fa-solid fa-heart"></i></a>   <a class="btn btn-outline-info"><i class="fa-sharp fa-solid fa-face-laugh-squint"></i></a>
        <hr>
        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="#">Update</a>
        <a class="btn btn-danger btn-sm mt-1 mb-1" href="#">Delete</a>
    </div>
</article>
    {% endfor %}

    {% endblock content %}